<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Add Pokemon</title>
</head>

<body>
    <h1>Pick a Pokemon</h1>
    <form action="/addedPokemon" method="get">
            <select name="pokemon">
                <option value="pikachu">Pikachu</option>
				<option value="charizard">Charizard</option>
				<option value="venusaur">Venusaur</option>
				<option value="blastoise">Blastoise</option>
				<option value="dragonite">Dragonite</option>
				<option value="gengar">Gengar</option>
				<option value="tyranitar">Tyranitar</option>
            </select>
		    <input type="submit" value="Add"/>
            <hr>
    </form>
    <a href="/">HOME</a>
</body>

</html>