<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Add Pokemon</title>
</head>

<body>
    <h1>Successfully added</h1>
    <p style="font-size: large; font-weight: 500;">You have added <%- pokemon %> to your team</p>
    <img src="<%- image %>" alt="pokemonPicture" style = "height: 150px; width: 150px;">
    <hr>
    <a href="/">HOME</a>
</body>

</html>