<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Pokemon Team Builder</title>
</head>

<body>
	<h1>Welcome to Pokemon Team Builder</h1>
	<h2>Add Pokemon to Team</h2>
	<ul>
		<li>To add a pokemon select <a href="/add">Add Pokemon</a></li>
	</ul>
	<hr>
	<h2>Review Team</h2>
	<ul>
		<li>To view team select <a href="/view">View Team</a></li>
	</ul>
	<hr>
</body>

</html>