<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Add Pokemon</title>
</head>

<body>
    <h1>Your Team</h1>
    <div style="
        display: grid;
        grid-template-columns: 200px 200px 200px;
    ">
        <%- team %>
    </div>
    <a href="/">HOME</a>
</body>

</html>